<div class="animated fadeIn">
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-10">
                <i class="fa fa-align-justify"></i> Thêm hóa đơn
              </div>
              <div class="col-lg-2">
                <div class="input-group">
                  <button class="btn btn-primary" type="button" > Lưu</button> 
                  <div class="col-lg-1">
                    <button class="btn btn-primary" type="button" > In</button> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8" style="font-weight: bold"> 
                Số hóa đơn : 9834503485938
              </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                  NewStar.com<br>
                  0984593495<br>
                  21-12-2018<br>
                  3 Võ Văn Ngân, Thủ đức
                </div>
                <div class="col-lg-6">
                  Nguyễn Hạ Vi<br>
                  15329448NVKT
                </div>
              </div>
            <p></p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Tên khóa học</th>
                  <th>Mô tả</th>
                  <th>Đơn giá</th>
                  <th>Thành tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pompeius René</td>
                  <td>2012/01/01</td>
                  <td>Member</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-lg-8">
                Lưu ý : Hóa đơn không có giá trị qui đổi về tiền mặt,
                nếu hùy lớp xin vui lòng báo trước 1 tuần, 
                sau 1 tuần, chúng tôi không chịu trách nhiện hoàn tiền.
              </div>
              <div class="col-lg-4">
                <table class="table table-empty">
                    <tbody>
                      <tr>
                        <td style="font-weight: bold">Tổng cộng</td>
                        <td>3.000.000</td>
                      </tr>
                      <tr>
                        <td style="font-weight: bold">Giảm giá</td>
                        <td>10%</td>
                      </tr>
                      <tr>
                        <td style="font-weight: bold">Còn lại</td>
                        <td>2.700.000</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
</div>