<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin cơ bản</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                    <label for="name">Ảnh đại diện</label>
                    <input type="image" src="../avata.jpg" class="form-control" id="name" placeholder="">
                    </div>
                </div>
            </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Tên</label>
                <input type="text" class="form-control" id="name" placeholder="">
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">CMND</label>
                <input type="text" class="form-control" id="ccnumber" placeholder="">
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="ccmonth">Ngày sinh</label>
              <select class="form-control" id="cbbirth">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
              </select>
            </div>
            <div class="form-group col-sm-4">
              <label for="ccyear">Giới tính</label>
              <select class="form-control" id="cbsex">
                <option>Nam</option>
                <option>Nữ</option>
              </select>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="cvv">Dân tộc</label>
                <input type="text" class="form-control" id="cvv" placeholder="">
              </div>
            </div>
          </div><!--/.row-->
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Liên hệ</strong>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="company">Tên liên hệ</label>
            <input type="text" class="form-control" id="company" placeholder="">
          </div>
          <div class="form-group">
            <label for="vat">Email</label>
            <input type="text" class="form-control" id="vat" placeholder="">
          </div>
          <div class="form-group">
            <label for="street">Address</label>
            <input type="text" class="form-control" id="street" placeholder="">
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="city">Phone</label>
              <input type="text" class="form-control" id="city" placeholder="">
            </div>
            <div class="form-group col-sm-6">
              <label for="postal-code">Facebook</label>
              <input type="text" class="form-control" id="postal-code" placeholder="">
            </div>
          </div><!--/.row-->
          <div class="form-group">
            <label for="country">CMND</label>
            <input type="text" class="form-control" id="country" placeholder="">
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->